.calendar {
  width: 90%;
  height: 80%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
}

#month-selector {
  margin-left: 5%;
  margin-top: 5%;
}
