.calendar {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
}

#month-selector {
  margin-left: 10%;
}
