#nav-container {
    position: fixed;
    right: 0;
    width: 30vw;
    height: 90vh;
    background-color: #D44C66;
    /* margin-top: -15.977px; */
    /* margin-top: -2px; */
    /* change the margin based on the header and the border of the main section */
}

.calendar-container {
    height: 50%;
}

.booking-form-container {
    height: 50%;
}

/* Slider */

.slider.round{
    border-radius: 30%;
}