.forecast{
    /* border: 1px solid black; */
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(44, 1fr);
    background-color: #fff;
    grid-gap: 3px;
}

.time{
    grid-column: span 4;
    /* border: 1px solid black; */
}

.tableNames{
    height: 87vh;
    width: 10%;
    display: grid;
    grid-template-rows: 20px repeat(auto-fill, 1fr);
    /* border: 1px solid black; */
    float: left;
    margin-top: 3vh;
    background-color: #f4f4f4;
}

.blank{
    background-color: black;
    margin: 0;
}

.tableName{
    /* border: 1px solid black; */
    margin: 0;
}

.view{
    height: 90vh;
    width: 70vw;
    float: left;
    display: flex;
}