.table{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #4cd4a0;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 1rem;
}

.table:focus {
background-color: #83D0F2;
color: white;
outline:0;
}

.table-busy {
width: 100px;
height: 100px;
margin-left: 10%;
margin-top: 10%;
border-radius: 5px;
border: 1px solid red;
background-color: red;
}

.floorplan-container {
  height: 90vh;
  width: 70vw;
  float: left;
}

.floorplan{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
  margin-left: 10%;

}
